ion-img {
  width: 40%;
  max-width: 420px;
  margin: auto;
  padding-top: 64px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.link {
  cursor: pointer;
  &:hover {
    color: blue;
  }
}
