<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img src="../../assets/icon/logo.png"></ion-img>
        <ion-icon name="arrow-back-outline" (click)="navigate('login')" id="arrowBack"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <h1>Register</h1>
    <ion-item class="inputRegister">
        <ion-input label="Username" width="20%" labelPlacement="floating" placeholder="Enter username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="inputRegister">
        <ion-input label="E-mail" width="20%" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="inputRegister">
        <ion-input label="Password" width="20%" labelPlacement="floating" placeholder="Enter password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button (click)="addUser()">Register</ion-button>
</ion-content>