<ion-content [fullscreen]="true">
  <div id="inloginformation" class="wrapper ion-padding">
      <ion-img class="logo" src="../assets/icon/logo.png"></ion-img>
      <ion-col class="ion-flex ion-text-center">
        <h1>Sign Up</h1>
        <p>Find bins and dispose trash easily.
          <br>
          Anywhere.</p>
      </ion-col>
      <ion-input class="" label="Username" fill="outline" labelPlacement="floating" placeholder="Enter username" [(ngModel)]="username" ></ion-input>
      <ion-input class="ion-margin-top" label="E-mail" labelPlacement="floating" fill="outline" placeholder="Enter email" [(ngModel)]="email"></ion-input>
      <ion-input class="ion-margin-top" label="Password" fill="outline" type="password" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="password"></ion-input>
      <ion-col class="ion-margin-top ion-margin-bottom">
        <ion-button class="ion-margin-top" expand="block" size="large" (click)="addUser()">Register</ion-button>
      </ion-col>
      <div class="ion-margin-top ion-text-center">
        <a class="link" label="forgotpassword" class="link" (click)="navigate('login')" id="forgotpassword">Login</a>
      </div>
  </div>
</ion-content>
