<!-- Color is green but need to be orange (-ion-color-success is used and not primary)-->
<ion-content [fullscreen]="false">
    <ion-text color="primary">
        <h1>Add post</h1>
    </ion-text>
    <ion-item class="inputLogin">
        <ion-input label="Title" width="20%" labelPlacement="floating" placeholder="Enter title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item class="inputLogin">
        <ion-input label="City" width="20%" labelPlacement="floating" placeholder="Enter city" [(ngModel)]="city"></ion-input>
    </ion-item>
    <ion-item class="inputLogin">
        <ion-textarea label="Content" [autoGrow]="true" width="20%" labelPlacement="floating" placeholder="Enter content" [(ngModel)]="content"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-input type="file" data-buttonText="Your label here." (change)="loadImageFromDevice($event)"></ion-input>
    </ion-item>
    <ion-button (click)="savePost()">Add post</ion-button>
</ion-content>