<ion-content [fullscreen]="true">
  <div id="inloginformation" class="wrapper ion-padding">
    <ion-img class="logo" src="../assets/icon/logo.png"></ion-img>
    <ion-col class="ion-flex ion-text-center">
      <h1>Forgot your password?</h1>
      <p>No worries.
        <br>
        Reset your password here!</p>
    </ion-col>
    <ion-input class="" label="E-mail" fill="outline" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="email" ></ion-input>
    <ion-input class="ion-margin-top" label="Password" fill="outline" type="password" labelPlacement="floating" placeholder="Your new password" [(ngModel)]="password"></ion-input>
    <ion-input class="ion-margin-top" label="Confirm password" fill="outline" type="password" labelPlacement="floating" placeholder="Enter new password again" [(ngModel)]="passwordAgain"></ion-input>
    <ion-col class="ion-margin-top ion-margin-bottom">
      <ion-button class="ion-margin-top" expand="block" size="large" (click)="resetPassword()">Reset passwordç</ion-button>
    </ion-col>
    <div class="ion-margin-top ion-text-center">
      <a class="link" label="forgotpassword" class="link" (click)="navigate('login')" id="forgotpassword">Go to login</a>
    </div>
</div>
</ion-content>
