<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img src="../../assets/icon/logo.png" style="width: 60px; margin: auto;"></ion-img>
        <ion-icon name="arrow-back-outline" (click)="navigate('login')" id="arrowBack"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-item class="inputLogin">
        <ion-input label="Email" type="email" width="20%" labelPlacement="floating" placeholder="Enter email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="inputLogin">
        <ion-input label="Password" type="password" width="20%" labelPlacement="floating" placeholder="Enter password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item class="inputLogin">
        <ion-input label="Repeat password" type="password" width="20%" labelPlacement="floating" placeholder="Enter password again" [(ngModel)]="passwordAgain"></ion-input>
    </ion-item>
    <p *ngIf="error" id="error">There is something wrong with your password. Please try again.</p>
    <ion-button (click)="resetPassword()">Reset password</ion-button>
</ion-content>