<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-icon name="arrow-back-outline" (click)="navigateBack('lookposts')" class="arrow-back"></ion-icon>
        <h3 class="ion-text-center">Cities</h3>
    </ion-toolbar>
  </ion-header>
  <section class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="6" (click)="navigate('individualcityposts', 'porto')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/aveiro.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Porto</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="navigate('individualcityposts', 'lisbon')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/lisbon.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Lisbon</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="navigate('individualcityposts', 'faro')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/faro.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Faro</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="navigate('individualcityposts', 'braga')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/braga.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Braga</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="navigate('individualcityposts', 'aveiro')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/aveiro.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Aveiro</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="navigate('individualcityposts', 'coimbra')">
            <ion-card class="card">
                <ion-img class="post-img" src="../../assets/images/photos/coimbra.jpg" id="img"></ion-img>
                <ion-card-header>
                    <ion-card-title>Coimbra</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


</ion-content>
