<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img class="logo" src="../../assets/icon/logo.png"></ion-img>
        <ion-icon name="log-out-outline" (click)="logout()" id="logout"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="wrapper">
    <ion-card>
      <ion-card-header class="profile-card">
        <div>
          <ion-card-title>James Doe</ion-card-title>
          <ion-card-subtitle>member since February 2023</ion-card-subtitle>
        </div>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-card-header>
    </ion-card>
    <a (click)="navigate('leaderboard')">Leaderboard</a>
  </section>
</ion-content>
