<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img class="logo" src="../../assets/icon/logo.png"></ion-img>
        <ion-icon name="log-out-outline" (click)="logout()" id="logout"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <section class="wrapper">
        <ion-col class="ion-padding-top">
            <ion-card>
                <ion-card-header class="profile-card">
                    <div>
                        <ion-card-title>James Doe</ion-card-title>
                        <ion-card-subtitle>member since February 2023</ion-card-subtitle>
                    </div>
                    <ion-avatar>
                        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-title>Leaderboard</ion-title>
        <ion-grid>
            <ion-card>
                <ion-card-header class="user-card-info">
                    <ion-card-content>username</ion-card-content>
                    <ion-card-content>1000</ion-card-content>
                </ion-card-header>
            </ion-card>
            <ion-card>
                <ion-card-header class="user-card-info">
                    <ion-card-content>username</ion-card-content>
                    <ion-card-content>1000</ion-card-content>
                </ion-card-header>
            </ion-card>
            <ion-col *ngFor="let user of listUsers">
                <ion-card>
                    <ion-card-header class="user-card-info">
                        <ion-card-content>{{user.username}}</ion-card-content>
                        <ion-card-content>{{user.score}}</ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-grid>
        <ion-col>
            <ion-title>Badges</ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-card>
                            <ion-card-header class="card-center">
                                <ion-img class="badge-img" src="../../assets/images/badges/fastprogressbadge.png"></ion-img>
                                <ion-card-title>Explorer</ion-card-title>
                                <ion-card-subtitle>You've added 5 bins!</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                    <ion-col size="6">
                        <ion-card>
                            <ion-card-header class="card-center">
                                <ion-img class="badge-img" src="../../assets/images/badges/firstbinaddedbadge.png"></ion-img>
                                <ion-card-title>BinIt Member</ion-card-title>
                                <ion-card-subtitle>You added your first bin</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>

    </section>
</ion-content>