<ion-content [fullscreen]="true">
    <ion-header>
        <ion-toolbar style="background: var(--primary);">
            <ion-icon name="arrow-back-outline" (click)="navigateBack('cityposts')" class="arrow-back"></ion-icon>
            <h3 class="ion-text-center">{{city}}</h3>
        </ion-toolbar>
    </ion-header>
    <div *ngIf="title!=''">
        <section class="wrapper ion-padding">
            <div class="img-round-border">
                <ion-img src="../../assets/images/photos/porto.jpg"></ion-img>
            </div>
            <div>
                <h4>Categories</h4>
                <div>
                    <ion-chip color="primary">Plastic</ion-chip>
                    <ion-chip color="primary">Paper</ion-chip>
                    <ion-chip color="primary">General waste</ion-chip>
                    <ion-chip color="primary">Biological waste</ion-chip>
                    <ion-chip color="primary">Glass</ion-chip>
                </div>
                <h4>{{title}}</h4>
                <p>{{content}}</p>
            </div>
        </section>
    </div>
</ion-content>