<ion-content [fullscreen]="true">
    <div id="mapId" style="width: 100%; height: 100%">
    </div>
    <ion-button (click)="locate()" id="locate">
        <ion-icon name="navigate-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="navigate('addbin')" id="btnAdd">
        <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
</ion-content>