<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img src="../../assets/icon/logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <section class="wrapper">
        <ion-grid>
            <ion-col class="ion-padding-top" size="12" (click)="navigate('generalposts')">
                <ion-card class="card">
                    <ion-img class="post-img" src="../../assets/images/photos/education.jpeg"></ion-img>
                    <ion-card-header>
                        <ion-card-title>General information</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col class="ion-padding-top" size="12" (click)="navigate('cityposts')">
                <ion-card class="card">
                    <ion-img class="post-img" src="../../assets/images/photos/vienna.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Cities</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-grid>
    </section>
</ion-content>