<ion-content [fullscreen]="true">
  <section class="wrapper">
    <ion-text color="primary">
      <h1>Recycling in the city</h1>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of listPosts">
          <ion-card class="card">
            <ion-img src="{{item.imageUrl}}" id="img"></ion-img>
            <ion-card-header>
                <ion-card-title>{{item.city}}</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      </ion-row>
      <ion-col size="12" *ngIf="listPosts.length == 0">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">No posts yet</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-grid>
  </section>
</ion-content>

