ion-input {
    width: 20%;
}

.divLogin {
    margin-left: 50%;
}

.inputLogin {
    margin: auto;
    width: 600px;
}

#register:hover {
    cursor: pointer;
}

.logo {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

#inloginformation {
    margin: 10%;
    padding: 20px;
}