ion-input {
    width: 20%;
}

.divbuttons {
    margin-left: 40%;
}

.inputLogin {
    margin: auto;
    width: 600px;
}

#forgotpassword,
#forgotpassword:hover {
    margin-top: 100px;
    cursor: pointer;
    margin-left: 45%;
}

#loginError {
    color: red;
}

.logo {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

#inloginformation {
    margin: 10%;
    padding: 20px;
}

#register {
    background-color: red;
}

ion-button {
    margin-left: 20px;
}