<ion-content [fullscreen]="true">
    <div id="inloginformation">
        <ion-img class="logo" src="../assets/icon/logo.png"></ion-img>
        <ion-item class="inputLogin">
            <ion-input label="Username" width="20%" labelPlacement="floating" placeholder="Enter username"></ion-input>
        </ion-item>
        <ion-item class="inputLogin">
            <ion-input label="Password" type="password" width="20%" labelPlacement="floating" placeholder="Enter password"></ion-input>
        </ion-item>
        <div class="divLogin">
            <ion-button (click)="login()">Log in</ion-button>
            <br>
            <a (click)="navigate('register')" id="register">No account yet</a>
        </div>
    </div>
</ion-content>