<ion-header>
    <ion-toolbar style="background: var(--primary);">
        <ion-img src="../../assets/icon/logo.png" style="width: 60px; margin: auto;"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div class="row">
        <div class="column" id="managePosts" (click)="navigate('managebins')">
            <h2>Manage bins</h2>
        </div>
        <div class="column" id="manageBins" (click)="navigate('manageposts')">
            <h2>Manage post</h2>
        </div>
    </div>
</ion-content>